* {
    margin  : 0;
    padding : 0;
}


/* functions */
:root {
    --highlighted-color : #00425A;
    --text-color        : #ffff;
    --bg-color          : #1f8a70;
    --big-font          : 5rem;
    --h1-font           : 3.75rem;
    --h2-font           : 2.25rem;
    --h6-font           : 1.00rem;
    --p-font            : 0.8rem;
}


/* Header */
/* 1st navbar */
/* #mac{
    overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
} */
.header{
    display         : flex;
    padding         : 11px;
    width           : 100%;
    height          : 70px;
    background-color:#00425A;
    color:antiquewhite;
    /* position: fixed;
    top:0; */
}
.logo{
    display: flex;
   width: 400px;
   height: 100%;
   font-weight: 400;
   background-size: cover;
   justify-content: center;
}
.lang{
    padding         : 10px;
    width           : 205px;
    height          : 48px;
    text-align      : center;
    border          : none;
    border-bottom: #213555;
    list-style: none;
}
 .lang .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}
  
 /* .lang .dropdown:hover .dropdown-menu {display: block;} */
 
.like{
    padding : 10px;
    width   : 90px;
    height  : 48px;
    display : flex;
}
.login{
    display         : flex;
    justify-items   : center;
    padding         : 10px;
    width           : 350px;
    height          : 48px;
    font-size       : 1.25rem;
    padding-right: 25px;
}
.login a{
    color     : white;
    text-decoration: none;
}
#pop {
    font-size   : 1.75rem;
}
.search_bar{
    height          : 38px;
    width           : 100%;
    display         : flex;
    justify-content : center;
    padding         : 5px;
    text-align      : center;
    border-top-right-radius: 20px;
}
.ser input{
    padding-left                : 10px;
    width                       : 500px;
    height                      : 38px;
    border-top-left-radius      : 10px;
    border-bottom-left-radius   : 10px;
    border:none;
}
.search_bar:hover{
    border-color:#1f8a70;
}
.ser_icon{
    width                       : 40px;
    height                      : 38px;
    background-color            : black;
    display                     : flex;
    justify-content             : center;
    align-items                 : center ;
    border-bottom-right-radius  : 10px;
    border-top-right-radius     : 10px;
}
/* 2nd navbar */
.header_1{
    display:flex;
    /* justify-content: center; */
    padding-left: 25px;
    list-style:none;
    background-color: #1f8a70;
    padding-top:15px;
    color:aliceblue;
    font-size: 14px;
    height:70px;
    padding-bottom: 15px;
    width: 100%;
    height: 50px;
    /* position: fixed;
    top:70px;
    overflow: hidden; */
}
.bar21{
    width: 100px;
    height:40px;
    padding-right: 25px;
}
.bar21 .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}
.bar22{
    padding-right: 25px;
}
.bar22 .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}
.bar23{
    display:flex;
    width: 300px;
    padding-right: 25px;
}
.bar23 .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}
.bar24 ul{
    width:200px;
}
.bar24 .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}
.city{
    margin-right:50px;
    width:100%;
    display: flex;
    justify-content: end;
}
.city .bx{
    font-size: 1.5rem;
}
.city .dropdown-menu a:hover {background-color: rgb(216, 216, 216);}

/* body */

.heading {
    text-align  : center;
}

.heading span {
    font-weight     : 500;
    text-transform  : uppercase;
}

.heading h1 {
    font-size   : 2rem;
    color       : var(--text-color);
}

.sell_container {
    display                 : grid;
    align-items             : center;
    grid-template-columns   : repeat(auto-fit, minmax(250px, auto));
    gap                     : 1rem;
    margin-top              : 2rem;
}

.sell_container .box {
    text-align  : center;
    padding     : 20px;
}

.sell_container .box .bx {
    font-size       : 34px;
    padding         : 10px;
    background      : white;
    border-radius   : 0.5rem;
}

.toy h2{
    margin: 20px;
}
.car h2{
    margin: 20px;
}

.cart-creating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}




/* subham */
.card10 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card9 {
    height: 200px;
    width: 150px;
    box-shadow: 10px 00px 10px 10px rgb(37, 37, 37);
    /* border: 2px solid blue; */
    margin: 15px;
    padding: 10px;
}

#get {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    color: brown;
}





.card {
    border: 1px solid gray;
    margin: 15px;
    padding: 10px;
}






.card:hover{
  /* bottom: 30px; */
  transform: translate3D(0,-1px,0) scale(1.08);
  border-color: #213555;
  border-width: 2px;
  box-sizing: content-box;
  box-shadow: #213555;
}

#kou{
    background-color:var(--highlighted-color);
    color: white;
    outline: none;
    border-color:var(--highlighted-color); 
    
    transition-duration: 0.4s;
}
      
      /* #kou:hover {
        background-color: var(--highlighted-color);
        color: white;
      } */
    

      /* 3rd cart */

    .main3rdCartHead{
        padding: 30px;
    }

    
    .main3rdCart h5{  
        padding: 0px 0px 0px 42px;
    }
    .grid-text-center{
        width           : 100%;
        z-index         : 1000;
        display         : flex;
        align-items     : center;
        justify-content : space-between;  
        padding: 30px;
        
    }
    
    .grid-text-center .g-col-4{
        /* border: solid black; */
        box-shadow: 5px 5px 2.5px 0px #888888;
    }

    .grid-text-center .g-col-4:hover{
        border: solid 1px var(--highlighted-color);
        /* box-shadow: 1px 1px 1px 1px #888888; */
    }
    
    .grid-text-center .g-col-4 img{
        height: 100px;
        width: 150px;  
    }
    
    .grid-text-center .g-col-4 p{
        text-align: center;
    }
    







/* Footer Css */
/* top container css */

.footTop {
    height  : 40px;
    margin  : 30px 10px 58px -40px;
}

/* footContainer */

.footTopContainer {
    margin  : 20px;
}

/* footcontainer row */
.footTopContainerRow {
    width           : 100%;
    z-index         : 1000;
    display         : flex;
    align-items     : center;
    justify-content : space-evenly;
    padding         : 1px;
}

/* firstSentencefootContainer */
.FirstfootTopContainerRow {
    display : flex;
}

/*  firstSentencefootContainer header*/
.FirstfootTopContainerRow h1 {
    font-size       : var(--h2-font);
}

/* firstSentencefootContainer paragraph */
.footTopContainerRow p {
    padding-left : 50px;
    font-size    : var(--p-font);
}

/* firstSentencefootContainer icon */
.FirstfootTopContainerRow i {
    font-size       : 50px;
    padding-right   : 3px;
    padding-top     : 5px;

}



/* 2nd bottom nav bar */

.footNav{
    padding: 0px 0px 0px 0px;
    padding: 60px 70px 10px 70px;
    background-color:var(--bg-color) ;
    color: var(--text-color);
}

.FooterNav img{
    height: 100px;
    width: 140px;
}


.footNavContainer{
    width           : 100%;
    z-index         : 1000;
    display         : flex;
    align-items     : normal;
    justify-content : space-between;
    padding         : 1px;
}


.footNavContainer .FooterNav h6{
    font-size: var(--h6-font);
    font-weight: 650;
}

.footNavContainer .FooterNav ul{
    list-style-type: none;
    padding: 0;
    font-size: var(--p-font);
}

.footNavContainer .FooterNav ul li{
    padding: 15px 0px 0px 0px;
}

/* hower */
.footNavContainer .FooterNav ul li:hover {
    font-weight: 600;
}


/*----------------------------------------- bootom footer======================================== */
.footBottom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--highlighted-color);
    color: var(--text-color);
}

.footBottom .footleftfont{
    font-style: italic;
    font-size: 12px;
    color: var(--text-color);
}

.footrightfont .socialMedia{
    display: flex;
}

.socialMedia p{   
    font-weight: bold;
    color: var(--text-color);
}

.logoOfSocialMedia{
    padding: 0px 0px 0px 25px;
}

.logoOfSocialMedia i{
    padding: 2px;
}



